/* Including fonts */
@font-face {
    font-family: Yandex-Sans-Text-Light;
    src: url(fonts/Yandex-Sans-Text-Light.ttf);
}
@font-face {
    font-family: Yandex-Sans-Text-Medium;
    src: url(fonts/Yandex-Sans-Text-Medium.ttf);
}
@font-face {
    font-family: Yandex-Sans-Text-Thin;
    src: url(fonts/Yandex-Sans-Text-Thin.ttf);
}


/* Main settings */
html {
    font-size: 20px;
    font-family: Yandex-Sans-Text-Light, sans-serif;
}
body {
    background-color: rgb(255, 255, 255);
}

/* Setting of header */
header {
    font-size: 0;
    width: 100%;
}
header div{
    font-size: 1rem;
    display: inline-block;
    text-align: center;
}
.logo {
    /* position: relative;
    top: -2rem; */
    margin: 3.5rem 0 0;
    vertical-align: top;
    font-family: Yandex-Sans-Text-Medium, sans-serif;
}
h1 {
    font-family: Yandex-Sans-Text-Light, sans-serif;
}
header div:nth-of-type(2n){
    width: 50%;
}
header div:nth-of-type(2n + 1){
    width: 25%;
}
a {
    text-decoration: none;
}

/* Setting of main content */
    /* Setting of articles */
main {
    font-size: 0;
    width: 100%;
}
article {
    font-size: 1rem;
    display: inline-block;
    /* width: 31%; */
    width: calc(31% - 2rem);
    /* height: 30rem; */
    padding: 1rem;
    margin: .5rem;
    background-color:rgba(255, 0, 0, 0.55);
}
figure {
    width: 100%;
    height: 19rem;
    position: relative;
    margin: 0;
}
img {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    max-height: 19rem;
}
.category {
    margin: 0 0 .5rem;
    font-size: .7rem;
}

/* setting of rating scale */
.rating-scale {
    overflow: hidden;
    width: 7.7rem;
    margin: 0 0 1rem;
}
.rating-scale:not(:checked) > input {
    display: none;
}
.rating-scale:not(:checked) > label {
    float: right;
	width: 1.5rem;
    height: 1.5rem;
    margin: .02rem;
	padding: 0;
	font-size: 0;
    border-radius: 1rem;
	background-color: rgb(0, 0, 0);
}
.rating-scale > input:checked ~ label {
	background-color: gold;
}
.rating-scale:not(:checked) > label:hover,
.rating-scale:not(:checked) > label:hover ~ label {
	background-color: gold;
}
.rating-scale > input:checked + label:hover,
.rating-scale > input:checked + label:hover ~ label,
.rating-scale > input:checked ~ label:hover,
.rating-scale > input:checked ~ label:hover ~ label,
.rating-scale > label:hover ~ input:checked ~ label {
	background-color: gold;
}
.rating-scale > label:active {
	position: relative;
}